# Project Files
*.txt
*.ini
*.cfg
*.log
!config_example.ini
!requirements.txt
test*
resources
logs

# Python
__pycache__/
*.py[cod]
*$py.class
Pipfile.lock

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide